body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button {
	border: 3px solid rgb(0, 0, 0);
	border-radius: 8px;
	font-size: 1em;
	margin-right: 15px;
	margin-top: 10px !important;
}

button:hover {
	background-color: rgb(207, 207, 207);
	cursor: pointer;
}

.myButtons {
	display: flex;
}

.phoneCard {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 20px;
	background-color: rgba(173, 173, 173, 0.5);
	font-size: 2rem;
	font-weight: bold;
	height: 400px;
	width: 800px;
	margin-bottom: 100px;
	overflow: auto;
}

.App-header {
	padding-top: 100px;
}

input {
	font-size: inherit;
	font-family: inherit;
	margin-bottom: 10px;
	border-radius: 12px;
}

.list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 20px;
	background-color: rgba(173, 173, 173, 0.5);
	font-size: 2rem;
	font-weight: bold;
	height: 400px;
	width: 800px;
	margin-bottom: 100px;
	overflow: auto;
}

.link {
	color: white;
	text-decoration: none;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
}

.imgHolder {
	margin: 10px;
	background-color: rgba(122, 122, 122, 0.336);
	height: 200px;
	width: calc(calc(100% / 3) - 20px);
}

.imgFrmAPI {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.thumbnailFrmAPIHolder {
	order: -2;
}

.thumbnailFrmAPIHolder>img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.imgsFrmAPIHolder {
	order: -1;
	max-width: 1280px;
	margin-top: 60px;
	margin-bottom: 20px;
	display: flex;
	flex-flow: row wrap;
}

.imgsFrmAPIHolder>h1 {
	width: 100%;
}

.ApiData {
	font-size: 1.6em;
	width: 80%;
	display: flex;
	text-align: justify;
}

.ApiData>span {
	display: block;
	margin-right: auto;
}

.Api-App-header {
	box-sizing: border-box;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding-bottom: 20px;
}